@font-face {
    font-family: 'ParkLane'; /*a name to be used later*/
    src: url('/GameProgramming/assets/fonts/parklane/ParkLaneNF.ttf');
}

@font-face {
    font-family: 'Nickley'; /*a name to be used later*/
    src: url('/GameProgramming/assets/fonts/nickley-normala/NickleyNF.ttf'); /*URL to font*/
}


#menu-dd {
  color: #4a4a4a;
}

#playground {
  background-color: black;
  width : 800px;
  height: 600px;
  margin: auto;
  margin-bottom: 0;
}

#playbutton {
  position: relative;
  top: 15%;
  left: 15%;
}

#mainTitle {
  position: relative;
}

#mainTitle>* {
  position: absolute;
  top: 50%;
  left: 30%;
  height: 30%;
  width: 100%;
  margin: -15% 0 0 -25%;
}

.card {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.title, #menu>* {
  font-family: 'Parklane'
}

hr {
  background-color: rgb(42, 42, 50);
}

.has-margin-1{
  margin: 1em;
  display: inline-block;
}

.has-background-alpha {
  background : rgba(255, 255, 255, 0.5)
}

.message.has-no-background{
  background: rgba(255,255,255,0.3);
}
